body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body, .app, .root {
  min-height: 100vh;
}

.app {
  text-align: center;
}

.logo {
  height: 180px;
}

.header {
  background: linear-gradient(135deg, #0d0d0d, #520000, #7a0019, #440055);
  background-size: 400% 400%;
  animation: gradientAnimation 10s ease infinite;
  color: #fff;
  padding: 20px;
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.screen {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: large;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.input-control {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 0 20px;
}

.version {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #992111;
  user-select: none;
}


.list-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  padding: 0 20px;
}

.mrt-note-result {
  border: solid thin #7a0019;
  box-shadow: 0 0 12px #7a0019;
  padding: 20px;
  white-space: break-spaces;
  text-align: left;
}
